head{

}

body {
    font-family: sans-serif;
    background-color: #FFE922;
    padding: 0;
}


.navigation{
    position: absolute;
    top: 70px;
    height: 100px;
    width: 100%;
    background-color: #E69A13;
    display:flex;
    justify-content: center;
    gap: 100px;
    margin: 0;
}

.nav-link, .news-link{
    margin: auto 0;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.5);
    font-size: 25px;
}

.logo{
    position: relative;
    top:-50px;
    height: 185px;
}

main{
    margin-top: 274px;
}

.main-pizza{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.h22{
    font-size: 40px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.5);
}

.textus{
    font-size: 20px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.5);
}

.pizzapicture{
    width: 40%;
    height: auto;
    box-shadow: 6px 6px 5px rgb(0, 0, 0, 0.5);
    margin: 20px;
}

.decoration{
    color: black;
    border: solid 5px #D8BF25;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
    background-color: #F3D833;
    font-size: 20px;
    padding: 10px;
    width: 40%;
    max-width: 150px;
    display: inline-block;
    margin: 10px auto;
    text-align: center;
    box-shadow: 6px 6px 5px rgb(0, 0, 0, 0.5);
}

.menu{
    margin-top: 100px;
    text-align: center;
    font-size: 38px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.5);
}

.menu-section{
    width: 1000px;
    margin: auto;
}

.menu-item{
    margin-top: 90px;
    display: flex;
    position: relative;
    left: 137px;
}

.menu-text{
    padding: 13px;
    max-width: 450px;
    font-size: 26px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.5);
}

.menu-img{
    object-fit: cover;
    height: 250px;
    width: 250px;
    box-shadow: 1px 1px 5px;
}

.decoration:hover{
    color: black;
    border: solid 5px #E69A13;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
    background-color: #F3D833;
    font-size: 25px;
    padding: 10px;
    width: 40%;
    max-width: 150px;
    display: inline-block;
    margin: 10px auto;
    text-align: center;
    box-shadow: 6px 6px 5px rgb(0, 0, 0, 0.5);
    transition: 0.5s;
}


.about-us{
    text-align: center;
    font-size: 38px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.5);
    position: relative;
    top: 250px;
}

footer{
    background-color: #E69A13;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

footer div img{
    height: 70px;
    width: 70px;
    border-radius: 20px;
}
